.cardsList {
  padding: 110px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 110px;
}

.noResultsMessage {
  text-align: center;
  margin: 100px auto 0 auto;
  font-size: 24px;
  color: #FFFFFF;
}
